{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pro Unity</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block css %} {% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <h1><a style="text-decoration: none; color: black;" href="{% url 'index' %}">Pro Unity</a></h1>
            <nav>
                <ul>
                    <li><a href="#">О нас</a></li>

                    <li><a href="{% url 'register' %}">Регистрация</a></li>
                    <li><a href="{% url 'view_data' %}">Список Учеников</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block register %}
    
    {% endblock %}






</body>
</html>