{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pro Unity</title>
    {% block css %} <link rel="stylesheet" href="{% static 'index.css' %}">{% endblock %}
</head>
        {% block register %}
        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-text">
                        <h2>Научитесь работать в IT</h2>
                        <p>• Практика на реальных проектах</p>
                        <p>• Помощь с трудоустройством</p>
                        <h3>Выберите направление</h3>
                        <div class="directions">
                        {% for item in category %}
                            <a href="{{item.get_absolute_url}}" class="direction-btn">{{item.title}}</a>
                        {% endfor %}
                            <!-- <a href="{% url 'card' %}" class="direction-btn">Дизайн</a>
                            <a href="{% url 'python' %}" class="direction-btn">Back End</a>
                            <a href="#" class="direction-btn">Архетектура</a>
                            <a href="#" class="direction-btn">English</a>
                            <a href="#" class="direction-btn">Маркетинг</a>
                            <a href="#" class="direction-btn">Мобилография</a> -->
                            <a href="{% url 'register' %}" class="direction-btn all-courses">Записаться</a>
                        </div>
                    </div>
                    <div class="hero-image">
                        <img src="{% static 'img/img.webp' %}" alt="Student">
                    </div>
                </div>
            </section>
            
        </main>
        {% endblock %}







</body>
</html>
